aiofiles==0.3.2
certifi==2017.7.27.1
chardet==3.0.4
httptools==0.0.9
idna==2.6
parse==1.8.2
psycopg2==2.7.3.2
requests==2.18.4
sanic==0.6.0
six==1.11.0
ujson==1.35
urllib3==1.22
uvloop==0.8.1
websocket-client==0.44.0
websockets==4.0.1
